
h1 {
    color: crimson;
    
    background-color: red;
   
  }
  
  
  h2 {
    color: #23ef01;
    
    background-color: orange;
  }
  
  
  h3 {
    color: #ff0;
   
    background-color: #fc0;
  }
  
  
  h4 {
    color: #00ff00ff;
    
    background-color: green;
  }
  
  
  h5 {
    color: #f007;
    
    background-color: blue;
  }
  
  
  h6 {
    color: rgb(24, 14, 114);
    
    background-color: indigo;
  }
  
  
  p {
    color: rgba(115, 33, 6, 1);
    
    background-color: violet;
  }